/* CSS RESET ----------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Saira', sans-serif;*/
    font-family: 'Dosis', sans-serif;
}
:link, :visited {
    text-decoration: none;
    color: antiquewhite;
}
body {
    background-color: rgb(29, 29, 29);
}
/* HEADER --------------------------------------*/
.header {
    
    /*background-image: linear-gradient(to left, rgb(56, 9, 144), rgb(20, 1, 49) );*/
    height: 250px;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 0%, rgba(0,0,0,1) 100%);
    animation-name: tino;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(.7,.14,.3,.88);
    animation-duration: 15s;
    animation-delay: 5s;
}
@keyframes tino {
    0%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 0%, rgba(0,0,0,1) 100%);}
    5%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 5%, rgba(0,0,0,1) 100%);}
    10%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 10%, rgba(0,0,0,1) 100%);}
    15%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 15%, rgba(0,0,0,1) 100%);}
    20%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 20%, rgba(0,0,0,1) 100%);}
    25%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 25%, rgba(0,0,0,1) 100%);}
    30%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 30%, rgba(0,0,0,1) 100%);}
    35%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 35%, rgba(0,0,0,1) 100%);}
    40%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 40%, rgba(0,0,0,1) 100%);}
    45%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 45%, rgba(0,0,0,1) 100%);}
    50%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 50%, rgba(0,0,0,1) 100%);}
    55%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 55%, rgba(0,0,0,1) 100%);}
    60%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 60%, rgba(0,0,0,1) 100%);}
    65%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 65%, rgba(0,0,0,1) 100%);}
    70%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 70%, rgba(0,0,0,1) 100%);}
    75%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 75%, rgba(0,0,0,1) 100%);}
    80%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 80%, rgba(0,0,0,1) 100%);}
    85%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 85%, rgba(0,0,0,1) 100%);}
    90%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 90%, rgba(0,0,0,1) 100%);}
    95%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 95%, rgba(0,0,0,1) 100%);}
    100%{background-image: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(222,222,222,1) 100%, rgba(0,0,0,1) 100%);}
}
.logo__title {
    font-family: 'Ballet', cursive;
    font-size: 60px;
    color: antiquewhite;
    text-align: center;
    transition: all 2s;
}
.logo__title:hover {
    font-size: 90px;
    color: goldenrod;
}
.logo__text {
    color: antiquewhite;
    text-align: center;
    position: relative;
    top: -35px;
    right: -50px;
}
.nav {
    width: 100%;
    text-align: center;
    background-color: black;
}
.nav__item {
    display: inline-block;
    padding: 15px;
    margin: 15px;
    font-size: 25px;
    color: antiquewhite;
}
.nav__item--active{
    border-bottom: 2px solid antiquewhite ;
}
.nav__item:hover {
    background: gray;
    
    font-size: 25px;
    font-weight: 700;
    border-radius: 5px;
}
.nav__item:hover a {
    text-decoration: none;
    color: goldenrod;
}
/* MAIN -------------------------------------------*/
main {
    
    width: 100%;
    color: antiquewhite;
    height: fit-content;
    /*border: 3px solid red;*/
}
section h2 {
    text-align: center;
}
/* MAIN Home ---------------------------------------*/
.mostrador {
    text-align: center;
    background-color: black;
    margin-bottom: 10px; 
}

.article h3 {
    margin-bottom: 0px;
}
/* MAIN Store & Historia-----------------------------*/
.container {
    width:fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    /*border: 3px solid red;*/
}

.card {
    width: 800px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    
    border-radius: 15px;
}
.card__bdr {
    border: 4px solid white;
}

.card__img {
    float: left;
}
.card__img > .imagen {
    width: 300px;
    border-radius: 8px;
}
.card__description {
    width: 100%;
    height: 300px;
    padding: 20px;
}
.card__price p {
    display: inline-block;
    padding: 20px 70px 10px 0;

    font-weight: 700;

}
/* MAIN Visitanos -----------------------------------*/
.mapa {
    text-align: center;
}
/* MAIN Contact -------------------------------------*/
/* FOOTER -------------------------------------------*/
.footer {
    text-align: center;
    background-color: black;
    padding: 20px;
    height: 100px;
}
.footer__redes {
    font-size: x-large;
}
.footer__redes a {
    padding: 20px;
}
.footer__copy {
    font-size:large;
    color: aqua;
}